* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-image: url('./images/bg-img.png');
  background-size: cover;
  background-repeat: 100%;
}

h1 {
  margin: 0;
}

ul {
  margin-bottom: 0;
  height: 100vh;
  padding: 0;
  list-style: none;
}

li {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.43;
  letter-spacing: 1px;
  text-align: center;
  padding: 0;
  color: #ffffff;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add {
}

/* Phones */
@media only screen and (max-width: 767px) {
  .sushi-container {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(1, minmax(220px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 40px 0 40px 0;
  }

  .navbar {
    width: 100%;
    height: 104px;
    color: #ffffff;
    background-color: #000000;
  }

  .navbar > h1 {
    line-height: 104px;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 900;
    letter-spacing: 1.3px;
    text-align: center;
    color: #ffffff;
  }
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .sushi-container {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(3, minmax(220px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 40px 0 40px 0;
  }

  .navbar {
    width: 100%;
    height: 138px;
    color: #ffffff;
    background-color: #000000;
  }

  .navbar > h1 {
    line-height: 138px;
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 1.3px;
    text-align: center;
    color: #ffffff;
  }
}

/* laptop */
@media only screen and (min-width: 1024px) {
  .sushi-container {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(4, minmax(220px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 40px 0 40px 0;
  }

  .navbar {
    width: 100%;
    height: 138px;
    color: #ffffff;
    background-color: #000000;
  }

  .navbar > h1 {
    line-height: 138px;
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 1.3px;
    text-align: center;
    color: #ffffff;
  }
}

.card {
  width: 220px;
  height: 200px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  border-radius: 5px;
  background-color: #74badb;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.card > img {
  height: auto;
  display: block;
  max-width: 100%;
}

.input {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.43;
  letter-spacing: 1px;
  text-align: center;
  background: transparent;
  border-radius: 0;
  display: block;
  appearance: none; /* remove default arrow */
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 0.3px #3f3f3f;
  color: #ffffff;
}

.submit {
  margin-top: 5px;
  display: inline;
  background-color: #74badb;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.roll-title {
  width: 100%;
  height: 53px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: 0.4px;
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  border-radius: 0 0 5px 5px;
}

.back {
  display: flex;
  border-radius: 5% 5% 0 0;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: #000000;
  align-items: center;
  justify-content: flex-start;
}

.line {
  justify-content: flex-end;
  width: 190px;
  height: 2px;
  opacity: 0.15;
  border-bottom: solid 1px #ffffff;
}
